HYDRA_X_PUBLIC_URL=http://localhost:4000
HYDRA_X_WORKSPACE_ROOT=./workspace
HYDRA_X_COALESCE_WINDOW_MS=250
HYDRA_X_CORTEX_INTERVAL_MS=60000
HYDRA_X_SCHEDULER_POLL_MS=15000
HYDRA_X_SHELL_ALLOWLIST=pwd,ls,cat,head,rg,git
HYDRA_X_HTTP_ALLOWLIST=
